- require "date"
.span{:style => "margin-left:75px;"}
  %b
    %u
      Data Preview Pane
.pull-right
  .span
    Sort: 
    %a{:href => "#", :class => "trigger-link", "data-index" => index, "data-column" => "0", "data-order" => "1"}
      = image_tag('/images/calendar_icon.png', size: "25x25")
    %a{:href => "#", :class => "trigger-link", "data-index" => index, "data-column" => "1", "data-order" => "1"}
      = image_tag('/images/sort_descending.png', size: "25x25")
    %a{:href => "#", :class => "trigger-link", "data-index" => index, "data-column" => "1", "data-order" => "0"}
      = image_tag('/images/sort_ascending.png', size: "25x25")
  .span
    = link_to "Export XLS", export_reviews_admin_user_path(current_user, product_type: product_type, event_review_type: event_review_type, format: :xls), class: "btn btn-small btn-info export_admin#{index}"

.well.user-reviews-div
  %b
    %div{id: "admin_data_header_#{index}_#{product_type}"}
      - if rating.blank?
        #{event_review_type} (All Data)
      - else
        #{event_review_type} (#{rating} Star Data)
  %hr
  %table.table.table-striped.table-condensed{:class => "Grid", :id => "Grid#{index}"}
    %thead{:style => "display: none"}
      %tr
        %th Date
        %th Rating
        %th Rating
        %th Account
        %th EventId / Sku
    - reviews.each_with_index do |review,i|
      %tr{:class => "review_#{product_type}_#{event_review_type.split(" ")[0]}_#{review.rating} review_#{product_type}_#{event_review_type.split(" ")[0]}", :style => "display:block"}
        %td{:style => "display:none"}
          = review.updated_at
        %td{:style => "display:none"}
          = review.rating
        %td.admin-user-reviews-td
          .inventory_rating{"data-rating" => review.rating }
          .row
            .span
              = review.contact.name if review.contact
          .row
            .span
              %i
                = review.content
        %td.admin-user-reviews-td
          = link_to review.reviewable.account.name, review.reviewable.account
        %td.admin-user-reviews-td
          %div
            Event: #{link_to review.reviewable.pretty_id, review.reviewable}
          %div
            Date: #{review.reviewable.event_start_time.strftime("%m/%d/%y")}

.pull-right
