%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title Fooda Catering - Event Review

    :css
      body
      {width: 100%; background-color: #aaaaaa; margin:0; padding:0; }
      html
      {width: 100%; }
      .SecImage1 { width: 280px!important; height: 187px!important; }
      .SizeHeadTable img {  width:580px !important; height:290px !important; }
      .SecImage2  { width:180px !important; height:110px !important; } 
      .SecImage2W Img  { width:180px !important; height:110px !important; } 
      .SecImage1W Img { width: 280px!important; height: 187px!important; }
      .Head2Image { width: 256px!important; height: 296px!important; }
      
      .Head2ImageW img { width: 256px!important; height: 296px!important;  }
      @media only screen and (max-width: 640px) {
      
      body{ width:auto!important; }
      
      /* Box Wrap */
      .BoxWrap { width:440px !important;  }
      
      /* Head  */
      .HeaderTable { width:440px !important; margin:0 auto !important; }
      .SizeHeadTable img {  width:440px !important;  height:220px !important;  }
      
      .SizeHeadTable  {  width:440px !important; }
      .HeadWrap  {  width:400px !important; }
      .HeadTitle { font-size:22px !important;  }
      .HeadTxt { font-size:15px !important; }
      .Head2ImageW { width:440px !important; }
      .Head2Image { width: 256px!important; height: 296px!important; margin:0 auto !important; }
      
      /* Section 1  */
      .SecTable1 { width:440px !important; }
      .SecImage1  { width:440px !important; height:294px !important; } 
      .SecImage1W Img { width:440px!important; height:294px!important; }
      
      
      .SecTxt1 { width:400px !important;   padding:0 0 10px !important;  margin:0 auto !important; } 
      .SecTitle1 { font-size:17px !important; }
      .SecPrg1 { font-size:15px !important;  line-height:1.9 !important; } 
      
      /* Screenshots  */
      .screenshots { width:440px !important; }
      .SecImage2  { width:440px !important; height:294px !important; } 
      .SecImage2W Img  { width:440px !important; height:294px !important; } 
      
      /* CTA  */
      .CtaWrap { width:400px !important; padding:0 0 16px !important; }
      .CtaTitle { width:400px !important; text-align:center !important; }
      .CtaTitleImg { float:none; clear:both !important;   }
      .CtaTitleW {  font-size:20px !important; width:380px!important; text-align:center !important; }
      .CtaButton { float:none !important; padding:20px 0 0; }
      
      /* Footer  */
      .Footer1 { height:100px !important; }
      .Footer1Wrap {width:440px !important;}
      .Footer1Title {width:440px !important; text-align:center !important;}
      .Footer1Social { width:280px !important; margin:0 auto !important; }
      .Footer1SocialW { width:280px !important; margin:0 auto !important; }
      .Footer2W {width:440px !important;}
      
      /* Hide  */
      .RespoHide { display:none !important; }
      
      }
      		
      @media only screen and (max-width: 479px)  {
      
      body{width:auto!important;}
      
      /* Box Wrap */
      .BoxWrap { width:280px !important;  }
      
      /* Head  */
      .HeaderTable { width:280px !important; margin:0 auto !important; }
      .SizeHeadTable img {  width:280px !important; height:140px !important; }
      .SizeHeadTable  {  width:280px !important; }
      .HeadWrap  {  width:260px !important; }
      .HeadTitle { font-size:18px !important;  }
      .HeadTxt { font-size:13px !important; }
      .date p img { width:15px; }
      .date p { font-size:11px!important; line-height:14px !important; }
      .Head2ImageW { width:260px !important; }
      .Head2Image { width: 256px!important; height: 296px!important; margin:0 auto !important; }
      .Head2Txt { width:260px !important; }
      /* Section 1  */
      .SecTable1 { width:280px !important; }
      .SecImage1  { width:280px !important; height:187px !important; } 
      .SecTxt1 { width:260px !important;   padding:0 0 10px !important;  margin:0 auto !important; } 
      .SecTitle1 { font-size:15px !important; }
      .SecPrg1 { font-size:13px !important; line-height:1.9 !important; } 
      .SecImage1W Img { width:280px!important; height:187px!important; }
      
      
      /* Screenshots  */
      .screenshots { width:280px !important; }
      .SecImage2  { width:280px !important; height:187px !important; } 
      .SecImage2W Img  { width:280px !important; height:187px !important; } 
      
      
      /* CTA  */
      .CtaWrap { width:280px !important; padding:0 0 16px !important; }
      .CtaTitle { width:280px !important; text-align:center !important; }
      .CtaTitleImg { float:none; clear:both !important;   }
      .CtaTitleW {  font-size:14px !important; width:280px!important; text-align:center !important; }
      .CtaButton { float:none !important; padding:20px 0 0; }
      
      /* Footer  */
      .Footer1 { height:160px !important; }
      .Footer1Td { text-align:center !important; line-height: 3.2 !important;  }
      .Footer1Wrap {width:280px !important;}
      .Footer1Title {width:280px !important; text-align:center !important;}
      .Footer1Social { width:200px !important; margin:0 auto !important; }
      .Footer1SocialW { width:200px !important; margin:0 auto !important; }
      .Footer2W {width:280px !important;}
      .Footer2T1 { font-size:9px !important; }
      .Footer2T2 { }
      
      .RespoShow { width:100% !important; height:20px !important; }
      .BoxWrap2 { padding:0 0 30px !important; }
      /* Hide  */
      .RespoHide { display:none !important; }	
      
      }
      		 
      
      
    %style#__web-inspector-hide-shortcut-style__{:type => "text/css"} .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ * { visibility: hidden !important; }
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :topmargin => "0"}
    / Main Container
    %table{:align => "center", :bgcolor => "#f6f6f6", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
      %tbody
        %tr
          %td{:valign => "top", :width => "100%"}
            / Header Start
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
                  %td{:bgcolor => "#ffffff", :width => "100%"}
                    / Start Header Content
                    %table.HeaderTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "580"}
                      %tbody
                        %tr
                          %td{:width => "580"}
                            / Logo
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tbody
                                %tr
                                  %td{:height => "14"}
                                %tr
                                  %td{:height => "50"}
                                    %a{:href => "#"}
                                      = image_tag('https://s3.amazonaws.com/snappea-marketing/email/feedback/logo.png', border: '0', :'mc:edit' => 'logo')
                                %tr
                                  %td.RespoHide{:height => "12"}
                            / Date
                            %table{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tbody
                                %tr
                                  %td{:height => "13"}
                                %tr
                                  %td.date{:height => "50", "mc:edit" => "date", :style => "font-size: 13px; color: #272727; font-weight: light; text-align: right; font-family: Helvetica, Arial, sans-serif; line-height: 20px; vertical-align: middle;"}
                                    %p
                                      = image_tag('https://s3.amazonaws.com/snappea-marketing/email/feedback/icon.jpg', style: 'float:left;', border: '0')
                                      = Date.today.strftime("%B")
                                      = succeed "," do
                                        %span{:style => "color: #ff835d;"}
                                          = Date.today.strftime("%d")
                                      = Date.today.strftime("%Y")
                                %tr
                                  %td{:height => "12"}
                    / End Header Wrapper
            / End Header
            / Head2 Section
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => " border-top:1px solid #ebebeb; ", :width => "100%"}
              %tbody
                %tr
                  %td{:valign => "top", :width => "100%"}
                    / Box Wrapper
                    %table.BoxWrap{:align => "center", :border => "0", :bgcolor => "#ffffff", :cellpadding => "0", :cellspacing => "0", :style => "margin:24px auto 0; background-color:#fff; border:1px solid #ebebeb;", :width => "700"}
                      %tbody
                        %tr
                          %td
                            / Head2Image
                            %table.Head2ImageW{:align => "left", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tbody
                                %tr
                                  %td{:align => "right", :valign => "top"}
                                %tr
                                  %td{:align => "right", :bgcolor => "#ffffff", :valign => "top"}
                                    %table{:align => "right", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                      %tbody
                                        %tr
                            / End Section1 Image
                            / Section1 Padding
                            %table.RespoHide{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-size: 0;line-height: 0;border-collapse: collapse;", :width => "5"}
                              %tbody
                                %tr
                                  %td{:height => "130", :style => "font-size: 0;line-height: 0;border-collapse: collapse;", :width => "0"}
                                    %p  
                            / Section1 Text
                            %table.SecTxt1.Head2Txt{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tbody
                                %tr
                                  %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 24px; color: #45484E; font-weight: bold; text-align: center; font-family: Helvetica, Arial, sans-serif; line-height: 3; vertical-align: top;"}
                                    %a{:style => "text-decoration: none; color: #45484E"} How would you rate your food today?
                                %tr
                                  %td{:align => "center", :bgcolor => "#ffffff", :height => "30", :valign => "top", :width => "650"}
                                    / Title and Text
                                    %table.Head2Txt{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "410"}
                                      %tbody
                                        %tr
                                          %td{:height => "14"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            Hi #{@event.contact.name.titleize},
                                        %tr
                                          %td{:height => "14"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            We hope you enjoyed your event today. Help make Fooda better.
                                        %tr
                                          %td{:height => "20"}
                                        %tr
                                          %td.Head2Subtitle{"mc:edit" => "Sec_Title1", :style => "font-size: 20; color: #45484E; font-weight: 400; font-weight: bold;text-align: Center; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;font-style: italic;padding-top: 30;"}
                                            %a{:href => "#", :style => "text-decoration: none; color: #45484E;"} Click a Star
                                        %tr
                                          %td.button1{"mc:edit" => "button1", :style => "font-size: 13px; padding:10px 0 0; color: #959595; font-weight: normal; text-align: center; font-family: Helvetica, Arial, sans-serif; line-height: 24px; vertical-align: top;"}
                                            - @tokens.each_with_index do |token, i|
                                              = link_to image_tag("https://s3.amazonaws.com/snappea-default/#{i + 1}_star.gif", border: '0', :'mc:edit' => "button"), token_url(token)
                                        %tr
                                          %td{:height => "10"}
                                    %table.Head2Txt{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "220", :style => "padding-left: 20px;"}
                                      %tbody
                                        %tr
                                          %td{:height => "14"}
                                        %tr
                                          %td.Head2Subtitle{"mc:edit" => "Sec_Title1", :style => "font-size: 16px; color: #45484E; font-weight: 400; text-align: Center; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;font-weight: bold;"}
                                            %a{:href => "#", :style => "text-decoration: none; color: #45484E;"} Event Information
                                        %tr
                                          %td{:height => "7"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            %h4{:style =>   "margin: 0px"} Name:
                                            #{@event.name}
                                        %tr
                                          %td{:height => "7"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            #{@event.product.capitalize} #{@event.meal_period.capitalize} Event
                                        %tr
                                          %td{:height => "7"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            %h4{:style =>   "margin: 0px"} Date:
                                            #{@event.event_start_time.strftime("%B %d, %Y")}
                                        %tr
                                          %td{:height => "7"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            %h4{:style =>   "margin: 0px"} Restaurant(s):
                                            #{@event.event_vendors.map(&:vendor).select{|v| v.vendor_type == "Restaurant"}.map(&:name).join(",")}
                                        %tr
                                          %td{:height => "7"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            %h4{:style =>   "margin: 0px"} To:
                                            #{@event.location.building.html_address}
                                        %tr
                                          %td{:height => "7"}
                                        %tr
                                          %td.Head2Title{"mc:edit" => "Sec_Title1", :style => "font-size: 16; color: #45484E; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 1; vertical-align: top;"}
                                            %h4{:style =>   "margin: 0px"} Audience:
                                            #{@event.quantity}
                                        %tr
                                          %td{:height => "10"}
                            / Section1 Text
                    / End Box Wrapper
            / End Head Section
            / Section2 - Wide Wrap
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
                  %td{:valign => "top", :width => "100%"}
                    / Box Wrapper
                    %table.BoxWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "580"}
                      %tbody
                        %tr
                    / End Box Wrapper
            / End Section2 Basic Wrapper
            / Section3 - Wide Wrap
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
                  %td{:valign => "top", :width => "100%"}
                    / Box Wrapper
                    / End Box Wrapper
            / End Section3 Basic Wrapper
            / Section1 Wide Wrap
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
            / End Section1 Basic Wrapper
            / Section2 - Wide Wrap
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
            / End Section2 Basic Wrapper
            / Cta Wide Wrap
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
                  %td{:valign => "top", :width => "100%"}
                    / Box Wrapper
                    %table.BoxWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:24px auto 24px; background-color:#fff; border:1px solid #ebebeb;", :width => "580"}
                    / End Box Wrapper
            / End Cta Basic Wrapper
            / Footer Wide Wrap
            %table.WideWrap{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
                  %td{:valign => "top", :width => "100%"}
                    / Footer1 Background
                    / Footer1 Background
                    / Footer2 Background
                    %table.Footer2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "230", :style => "background-color: #2C2221;", :width => "100%"}
                      %tbody
                        %tr
                          %td{:height => "30"}
                        %tr{:height => "90"}
                          %td
                            %table.Footer2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "90", :style => "background-color: #2C2221;", :width => "93%"}
                              %tbody
                                %tr{:height => "20"}
                                  %td{:style => "font-size: 16px; color: #fff; font-weight: bold; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 12px; vertical-align: top;"}Contact Us
                                %tr{:height => "20"}
                                  %td{:style => "font-size: 12px; color: #B2B2B2; font-weight: bold; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 12px; vertical-align: top;"}Fooda, Inc.. 600 W Chicago Ave. Suite 775 Chicago, IL 60654
                                %tr{:height => "20"}
                                  %td{:style => "font-size: 12px; color: #fff; font-weight: bold; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 12px; vertical-align: top;"}info@fooda.com
                                %tr{:height => "20"}
                                  %td{:style => "font-size: 12px; color: #B2B2B2; font-weight: bold; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 12px; vertical-align: top;"}Tel: 312.662..6539
                                %tr
                                  %td{:height => "18"}
                                %tr
                                  %td{:style => "font-size: 16px; color: #fff; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 12px; vertical-align: top;"}Connect
                        %tr
                          %td
                            %table.Footer3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "40", :style => "background-color: #2C2221;", :width => "92%"}
                              %tr
                                %td.Footer1SocialW{"mc:edit" => "SocialI", :width => "10"}
                                  %a{:href => "https://www.facebook.com/GoFooda", :style => "float:left; text-decoration: none;"}
                                    = image_tag('https://s3.amazonaws.com/snappea-marketing/email/feedback/facebook.png', style: 'float:left;', :width => "24", :height => "24")
                                %td.Footer1SocialW{"mc:edit" => "SocialI",:width => "10"}
                                  %a{:href => "https://twitter.com/gofooda", :style => "float:left; text-decoration: none;"}
                                    = image_tag('https://s3.amazonaws.com/snappea-marketing/email/feedback/twitter.png', style: 'float:left;', :width => "24", :height => "24")
                                %td.Footer1SocialW{"mc:edit" => "SocialI", :width => "450"}
                                  %a{:href => "http://www.linkedin.com/company/fooda", :style => "float:left; text-decoration: none;"}
                                    = image_tag('https://s3.amazonaws.com/snappea-marketing/email/feedback/linkedin.png', style: 'float:left;', :width => "24", :height => "24")
                        %tr{:height => "15"}
                          %td{:style => "font-size: 10px; color: #B2B2B2; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 12px; vertical-align: top;"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Copyright © 2013 All rights reserved. All logos and trademarks remain the property of their respective owners.
                                  
                    / Footer1 Background
            / End Footer Basic Wrapper