.update_transaction_method_form.modal.hide.fade{"id"=>"update_payment_method_form_" + party.class.name + "_" + party.id.to_s}
  = render :partial => "events/partials_financials/update_payment_method", :locals => {party: party, event_transaction_method: event_transaction_method}
.auto_size_modal.modal.hide.fade{"id"=>"new_line_item_form_" + party.class.name + "_" + party.id.to_s}
  = render :partial => "line_items/new", :locals => {payable_party_type: nil, payable_party_id: nil, billable_party_type: party.class.name, billable_party_id: party.id}


.admin-buttons
  %a.btn.btn-success.btn-small.toggle-modal{"data-target"=>"#new_line_item_form_" + party.class.name + "_" + party.id.to_s}
    %i.icon.icon-plus.icon-white.toggle-modal{"data-target"=>"#new_line_item_form_" + party.class.name + "_" + party.id.to_s}
    Line Item
%h2 #{title} (#{party})

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Type
      %th Sub-Type
      %th SKU
      %th Name
      %th Type
      %th Quantity
      %th Unit Price
      %th Total Price
      %th Tax Rate
      %th Invoice ID
      %th
  %tbody
    - @event.event_vendors.each do |ev|
      - @event.line_items_vendor_per_person_charge_by_billable_party(party, ev.vendor).each do |li|
        = render :partial => "events/partials_financials/financials_revenue_single_item", :locals => {li: li, party: party, include_menu_items: include_menu_items}
      - @event.line_items_vendor_no_price_menu_items_by_billable_party(party, ev.vendor).each do |li|
        = render :partial => "events/partials_financials/financials_revenue_single_item", :locals => {li: li, party: party, include_menu_items: include_menu_items}
      - @event.line_items_vendor_menu_items_with_price_by_billable_party(party, ev.vendor).each do |li|
        = render :partial => "events/partials_financials/financials_revenue_single_item", :locals => {li: li, party: party, include_menu_items: include_menu_items}
    - @event.line_items_no_associated_vendor_by_billable_party(party).sort_by{ |li| [li.line_item_type, li.name] }.each do |li|
      = render :partial => "events/partials_financials/financials_revenue_single_item", :locals => {li: li, party: party, include_menu_items: include_menu_items}

.row
  .span3.event-document-buttons
    %a.btn.btn-mini{id: "event-button-quote", href: generate_event_path(event, doc_type: DocumentType::Event::quote, party: party.id, party_type: party.class.name)}
      %i.icon.icon-file
      Quote
    %a.btn.btn-mini{id: "event-button-invoice", href: generate_event_path(event, doc_type: DocumentType::Event::invoice, party: party.id, party_type: party.class.name) }
      %i.icon.icon-file
      Invoice
    %a.btn.btn-mini{id: "event-button-invoice-summary", href: generate_event_path(event, doc_type: DocumentType::Event::invoice_summary, party: party.id, party_type: party.class.name) }
      %i.icon.icon-file
      Invoice Summary
  .span3
    %table.table.table-condensed
      %tr
        %td Payment method:
        %td{"id"=>"transaction_method_" + party.class.name + "_" + party.id.to_s}  #{event_transaction_method.transaction_method.try(:titleize)}
        %td{:style => party.kind_of?(Vendor) ? "display:block;" : "display:none;"}
          %a.btn.btn-mini.toggle-modal{"data-target"=>"#update_payment_method_form_" + party.class.name + "_" + party.id.to_s}
            %i.icon.icon-edit.toggle-modal{"data-target"=>"#update_payment_method_form_" + party.class.name + "_" + party.id.to_s}
      %tr{"class"=>"transaction_info_" + party.class.name + "_" + party.id.to_s, "style" => event_transaction_method.transaction_method == "CC" ? '' : 'display:none'}
        %td CC last name:
        %td{"id"=>"transaction_info1_" + party.class.name + "_" + party.id.to_s}  #{event_transaction_method.info1}
      %tr{"class"=>"transaction_info_" + party.class.name + "_" + party.id.to_s, "style" => event_transaction_method.transaction_method == "CC" ? '' : 'display:none'}
        %td CC last 4:
        %td{"id"=>"transaction_info2_" + party.class.name + "_" + party.id.to_s}  #{event_transaction_method.info2}

  .span4.offset2
    %table.table.table-condensed
      - subtotal = @event.revenue_subtotal_by_party(party)
      %tr
        %td Sub Total:
        %td= number_to_currency(subtotal)
        %td
      %tr
        %td General Tax:
        %td= number_to_currency(@event.revenue_general_tax_by_party(party))
        %td

      - @event.line_items_after_subtotal_by_billable_party(party).select{|li| li.parent_id.nil? }.each do |li|
        %tr
          %td= li.name + ':'
          %td= li.percentage_of_subtotal ? number_to_currency(li.revenue_total_with_percentage(subtotal)) + ' (' + li.unit_price_revenue.to_s + '%)' : number_to_currency(li.revenue_total)
          %td
            - if li.document.nil?
              .btn-group
                %a.btn.btn-mini.toggle-modal{"data-target"=>"#edit_line_item_form_" + li.id.to_s}
                  %i.icon.icon-edit.toggle-modal{"data-target"=>"#edit_line_item_form_" + li.id.to_s}
                %a.btn.btn-mini.btn-danger{:href=>event_line_item_path(@event, li), :"data-method" => "delete", data: { confirm: 'Are you sure?' }}
                  %i.icon.icon-white.icon-remove

      %tr 
        %td Total:
        %td #{number_to_currency(@event.revenue_total_by_party(party))}
        %td
