%h2 Event Financial Summary

- revenue = defined?(@event.event_managed_services_rollup.revenue) ? @event.event_managed_services_rollup.revenue : 0
- cogs = defined?(@event.event_managed_services_rollup.cogs) ? @event.event_managed_services_rollup.cogs : 0

%table.table.table-condensed.table-bordered.table-striped
  %tr
    %td Revenue:
    %td= number_to_currency(revenue)
    %td
  - unless @event.voucher_groups.empty?
    %tr
      %td Miscellaneous:
      %td= number_to_currency(voucher_total) 
      %td
  %tr
    %td COGS:
    %td= number_to_currency(cogs)
    %td
  %tr
    %td Total GP:
    %td= number_to_currency(revenue - cogs)
    %td= (revenue == 0 ? '0' : number_with_precision((revenue - cogs)/revenue * 100, precision: 0)) + '%'
