.modal-wrapper
  -if preference.type_account?
    .modal-header
      %button.close{:type=>"button","data-dismiss"=>"modal"}
        &times;

      %h3 Edit Account Preference

    = simple_form_for [@vendor, preference] do |f|
      .modal-body
        = f.hidden_field :preference_type
        = f.association :account

        = f.input :disposition, collection: Fooda::Preferences::Disposition.available_values.collect{|c| [c.titleize, c]}

        .modal-footer
          = f.submit(:class => "btn btn-primary")
  -else
    .modal-header
      %button.close{:type=>"button","data-dismiss"=>"modal"}
        &times;

      %h3 Edit Account Location Preference

    = simple_form_for [@vendor, preference] do |f|
      .modal-body
        = f.hidden_field :preference_type
        = f.association :location

        = f.input :disposition, collection: Fooda::Preferences::Disposition.available_values.collect{|c| [c.titleize, c]}

        .modal-footer
          = f.submit(:class => "btn btn-primary")