#change-password-modal.modal.hide.fade
  = simple_form_for (@user), :url => change_password_admin_user_path(@user), :html => {:style => "margin-bottom: 0;"} do |f|
    .modal-header
      %button.close{:type=>"button", "data-dismiss"=>"modal"}
        &times;
      %h3.center Change your password
    .modal-body
      = password_field_tag "current_password", "", placeholder: "Current Password"
      %br
      = f.input_field :password, placeholder: 'New Password'
      %br
      = f.input_field :password_confirmation, placeholder: 'Confirm New Password'
      %br
      
    .modal-footer
      = f.submit "Update Password", class: "btn btn-primary"
      %a.btn{"data-dismiss"=>"modal"}
        Cancel

.section-header
  %h1.center{:style => "margin-bottom: 0px;"}
    #{@user.name}'s Profile
  %br
  .pull-right
    %b{:style => 'float:right;'}
      Created On:
      = @user.created_at.strftime("%m/%d/%Y")
    %br
    %b
      Last Login On:
      = @user.last_sign_in_at ? @user.last_sign_in_at.strftime("%m/%d/%Y") : "-"
  %br
  %hr
  .searchable-sortable-pagination-form
    = simple_form_for @user, :url => admin_user_path(@user) do |f|
      .row-fluid
        .span3{:style => "margin-left:23px;"}
          = f.input :first_name
          = f.input :email
          = f.input :position
          %a.toggle-modal{"data-target"=>"#change-password-modal", :style => "cursor:pointer;"} 
            Change Password
          %br
          %br
          = f.submit "Update Profile", class: "btn btn-primary"
        .span3{:style => "margin-left:0;"}
          = f.input :last_name
          = f.input :phone_number
        .span3.well{:style => "background-color:white; margin-bottom:0; margin-left:0;"}
          %table.table-striped{:style => "width:100%;"}
            %thead
              %th.pull-left{:style => "padding-bottom:10px;"} Roles
            %tbody
              - @user.roles.each do|role|
                %tr
                  %td
                    %ul
                      %li= role.titleize
        .span3.well{:style => "background-color:white; margin-bottom:0; margin-left:36px;"}
          .pre-scrollable
            %table.table-striped{:style => "width:100%;"}
              %thead
                %th.pull-left{:style => "padding-bottom:10px;"} Account Memberships
              %tbody
                - @user.accounts.each do |account|
                  %tr
                    %td
                      %ul
                        %li= link_to account.name, account_path(account, selected: "membership", anchor: "membership")