- if event.is_a?(Event)
  %tr{:class => "infinite_item"}
    %td= link_to event.pretty_id, event_path(event)
    %td= event.event_start_time.nil? ? '?' : event.event_start_time.strftime("%Y-%m-%d")
    %td
      = event.event_start_time.strftime("%I:%M %p") unless event.event_start_time.nil?
      = ' - ' + event.event_end_time.strftime("%I:%M %p") unless event.event_end_time.nil?
    %td= event.contact
    %td= event.product.titleize
    %td= event.location.html_address unless event.location.nil?
    %td= raw event.event_vendors.map {|a| link_to a.vendor.name, vendor_path(a.vendor)}.join(", ")
    %td= event.status.titleize
- if event.is_a?(SelectEvent)
  %tr{:class => "infinite_item"}
    %td= link_to pretty_id( event.id ), select_event_path(event)
    %td{:nowrap => ""}= event.delivery_time.nil? ? '?' : event.delivery_time.strftime("%Y-%m-%d")
    %td
      = event.delivery_time.strftime("%I:%M %p") unless event.delivery_time.nil?
    %td= event.contact
    %td= ProductType.select.titleize
    %td= event.location.html_address unless event.location.nil?
    %td= raw event.select_event_vendors.map {|a| link_to a.vendor.name, vendor_path(a.vendor)}.join(", ")
    %td= event.status.titleize
    