.span11
  .well{style: "height:2000px; width:1070px;"}
    %h4
      %u User Reviews
    - product_types = ["perks", "select", "managed_services"]
    .btn-group{"data-toggle" => "buttons-radio"}
      %button.btn.btn-set-vendor.btn-primary{:type => "button", :id => "managed_services"} Managed Services
      %button.btn.btn-set-vendor{:type => "button", :id => "perks"} Perks
      %button.btn.btn-set-vendor{:type => "button", :id => "select"} Select
    %br
    %br
    - product_types.each_with_index do |pt, i|
      - reviews_rollup = @account.reviews_rollups.select{|r| r.product_type == pt}.first
      %div{class: "category_#{pt} div_charts", style: pt == "managed_services" ? "display:block;" : "display:none;"}
        .span11.margin_left_0
          - chart_types = ["Event Level Food Ratings", "Aggregate Item Level Food Ratings", "Food Presentation", "Order Accuracy", "On Time Delivery", "Ease of Ordering", "Customer Service"]
          .span6.margin_left_0
            - chart_types.each_with_index do |level, j|
              - reviews, rating_array = reviews_for_current_graph(reviews_rollup, level) if reviews_rollup
              - reviews, rating_array = [], [] unless reviews_rollup
              = render partial: "/shared/charts", locals: {level: level, reviews_rollup: reviews_rollup, reviews: reviews, rating_array: rating_array, i: "account#{7*i+j}", product_type: "account#{pt}", pt: pt}
          .span5.margin_left_0{id: "data_pane_#{pt}"}
